ul
    if iterator.domain_name
        li.result-header Results for #{iterator.domain_name}
    if iterator.registrant_name
        li Registrant Name:
            span.values &nbsp; #{iterator.registrant_name}
    if iterator.registrant_email
        li Registrant Email:
            span.values &nbsp;
                a(href="mailto:" + iterator.registrant_email) #{iterator.registrant_email}
    if iterator.registrant_phone
        li Registrant Phone:
            span.values &nbsp; #{iterator.registrant_phone}
    if iterator.registrant_city
        li Registrant City:
            span.values &nbsp; #{iterator.registrant_city}
    if iterator.registrant_street
        li Registrant Street:
            span.values &nbsp; #{iterator.registrant_street}